.containerCabecalho {
	display: flex;
	justify-content: space-between;
	height: 400px;
	width: 1340px;
}

.containerTitulosCabecalhoDireito {
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
}

.containerConteudoPrincipal {
	display: flex;
	justify-content: space-between;
}



		/*MOBILE*/
@media(max-width: 768px) {

	.containerCabecalho {
		display: initial;
	}
    
    .containerConteudoPrincipal {
    	display: initial;
    }

    .containerTitulosCabecalhoDireito {
		flex-direction: column;
	}

}
