.containerCabecalho {
	display: flex;
	justify-content: space-between;
	height: 400px;
}

.containerTitulosCabecalhoDireito {
	display: inline-flex;
	justify-content: space-around;
}


.containerConteudoPrincipal {
	display: flex;
	justify-content: space-between;
}


img {
	display: inline-flex;
}

		/*MOBILE*/
@media(max-width: 768px) {

	.containerCabecalho {
		display: initial;
	}
    
    .containerConteudoPrincipal {
    	display: initial;
    }

    .containerTitulosCabecalhoDireito {
		flex-direction: column;
	}

}
