.containerCabecalho {
	display: flex;
	justify-content: space-between;
	height: 400px;
}

.containerConteudoPrincipal {
	display: flex;
	justify-content: space-between;
}
img {
	display: inline-flex;
}
