body {
  font-family: sans-serif;
  margin: 0 auto;
  width: 1440px;
  padding-top: 80px;
}

.cabecalhoLadoEsquerdo{
  box-sizing: border-box;
  width: 50%;
  color: hsl(300, 43%, 22%);
}

.paragrafoCabecalhoEsquerdo {
  font-size: 20px;
  line-height: 2.0;
  margin-top: 5px;
  width: 90%;
  color: hsl(303, 10%, 53%);
}

.cabecalhoLadoDireito {
  width: 800px;
}

h1 {
  font-weight: 600;
  font-size: 60px;
  width: 70%;
}

h2 {
  display: flex;
  padding: 30px;
  font-size: 20px;
  width: 100%;
  height: 80px;
  margin: 20px 0px 0px 0px;
  box-sizing: border-box;
  background: hsl(300, 24%, 96%);
  border-radius: 10px;
}

.iconStar {
  background: url("icon-star.png");
  background-repeat: space;
  background-size: 20px;
  width: 17%;
  height: 25px;
}

.paragrafoCabecalhoDireito1 {
  margin-right: 150px;
}

li {
  color: white;
  width: 28%;
  background: hsl(300, 43%, 22%);
  border-radius: 10px;
  height: 300px;
  padding: 25px;
}

.lista2 {
  margin-top: 20px;
}

.lista3 {
  margin-top: 40px;
}

.paragrafoConteudoPrincipal {
  font-size: 16px;
  color: hsl(300, 24%, 85%);
  line-height: 2.0;

}

img {
  border-radius: 100%;
  margin-top: 20px;
}

.titulosConteudoPrincipal {
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0px 0px 0px;
}

.subTitulosConteudoPrincipal {
  font-size: 28px;
  color: hsl(333, 80%, 67%);
}

.attribution  {
  color: hsl(228, 45%, 44%);
  margin-top: 20px;
  text-align: center;
}
    /*MOBILE*/
@media(max-width: 768px) {
  body {
    width: 375px;
  }
  
  .cabecalhoLadoDireito {
    width: initial;
  }

  h2 {
    height: 117px;
  }

  .iconStar {
    width: 37%;
  }

  li {
    
  }



}


